<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DoctorAck</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DoctorAck</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
    <array>
        <string>comgooglemaps</string>
        <string>baidumap</string>
        <string>iosamap</string>
        <string>waze</string>
        <string>yandexmaps</string>
        <string>yandexnavi</string>
        <string>citymapper</string>
        <string>mapswithme</string>
        <string>osmandmaps</string>
        <string>dgis</string>
        <string>qqmap</string>
        <string>here-location</string>
        <string>tomtomgo</string>
        <string>copilot</string>
        <string>com.sygic.aura</string>
    </array>
	<key>NSCameraUsageDescription</key>
    <string>DoctorAck requires access to the camera in order to enable users to capture and upload photos directly within the application. The camera functionality is essential for various features such as capturing images for profile pictures, uploading receipts, or scanning QR codes. Ensuring access to the camera enhances user experience and facilitates seamless interaction with the app's core functionalities.</string>
	<key>NSCameraUsageDescription&lt;string&gt;To scan cards&lt;/string&gt;</key>
    <string>DoctorAck requires access to the camera to scan cards. Scanning cards is a core feature of the app, allowing users to digitize and store information from physical cards such as business cards, ID cards, or loyalty cards. Access to the camera ensures seamless scanning functionality, enhancing user experience and enabling efficient organization of important card-related data within the app.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>TemporaryPreciseAccuracy</key>
        <string>DoctorAck App requires temporary access to the device's precise location. This access is necessary to provide location-based services, such as finding nearby points of interest or providing accurate directions. The app respects user privacy and will only access location information when required for specific features or tasks, ensuring minimal impact on battery life and user privacy.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>DoctorAck App requires access to the device's location. This access is necessary to provide location-based services, such as finding nearby points of interest, displaying personalized content, and delivering accurate directions. The app respects user privacy and will only access location information when the app is in use, ensuring minimal impact on battery life and user privacy.</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>DoctorAck App listens for speech using the device's microphone, upon your request. Access to the microphone is required to enable speech recognition features, such as voice commands, dictation, or voice-to-text functionalities. The app respects user privacy and will only access the microphone when explicitly requested by the user, ensuring confidentiality and privacy of audio data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>DoctorAck App requires access to the device's photo library. This access is necessary to enable users to select and upload images from their photo library within the application. The app uses the photo library to demonstrate the functionality of an image picker plugin, allowing users to seamlessly choose images for various purposes such as profile pictures, document uploads, or sharing content. Rest assured that the app respects user privacy and will only access the photo library when prompted by the user, ensuring the confidentiality and security of their personal photos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
    <string>DoctorAck App utilizes speech recognition to transcribe spoken words into text in real-time. Access to speech recognition functionality is necessary to provide users with features such as dictation, voice commands, or voice-to-text capabilities. The app respects user privacy and will only utilize speech recognition when explicitly requested by the user, ensuring confidentiality and privacy of spoken content.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
