<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtoMx-JMpCFbcjVsw_ruMTw2s8fRU8HfY</string>
	<key>GCM_SENDER_ID</key>
	<string>518385848200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doctorack.DoctorAck</string>
	<key>PROJECT_ID</key>
	<string>doctorack</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorack.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518385848200:ios:ba43a917581ff901e9743d</string>
</dict>
</plist>